@model JsonToJsonCompareEngine.UI.Models.ViewModel
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript">function GetCounty(_stateId) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $("#ddlcounty").html(procemessage).show();
        var url = "/Home/GetCountyByStateId/";

        $.ajax({
            url: url,
            data: { stateid: _stateId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select City</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].value + ">" + data[x].text + "</option>";
                }
                $("#ddlcounty").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    };

    function GetFiles(_countyId) {
        var procemessage = "<option value='0'> Please wait...</option>";
        $(".ddlfile").html(procemessage).show();
        var url = "/Home/GetFilesByCountyId/";

        $.ajax({
            url: url,
            data: { countyid: _countyId },
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<option value='0'>Select File</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + x + ">" + data[x].text + "</option>";
                }
                $(".ddlfile").html(markup).show();
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    };

    function LoadPartialView(_previous, _current) {
        alert('_previous');
        alert('_current');
        var url = "/Home/OnGetCompareResults/";
        $.ajax({
            url: url,
            data: { _previousFile: _previous, _currentFile: _current },
            cache: false,
            type: "GET",
            success: function (data) {
                alert(JSON.stringify(data));
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    };</script>
<div class="row">
    <div class="header"></div>
    <div class="content">
        <div class="input">
            <table class="input-table">
                <tr>
                    <td>
                        <p>
                            <b>State</b>
                            <br />
                            @Html.DropDownListFor(m => m.States, new SelectList(Model.States, "Id", "StateName"), "Select State", new { @id = "ddlstate", @style = "width:200px;", @onchange = "javascript:GetCounty(this.value)" })
                            <br />
                            <br />
                            <b>County</b>
                            <br />
                            <select id="ddlcounty" name="ddlcounty" style="width: 200px" onchange="GetFiles(this.value)" required="required"></select>
                            <br />
                            <br />
                            <b>Previous File</b>
                            <br />
                            <select class="ddlfile" style="width: 300px" required="required" name="@Html.NameFor(c=>c.SelectedPreviousFile)"></select>
                            <br />
                            <br />
                            <b>Current File</b>
                            <br />
                            <select class="ddlfile" style="width: 300px" required="required" name="@Html.NameFor(c=>c.SelectedCurrentFile)"></select>
                            @*@Html.DropDownListFor(m => m.SelectedCounty, new SelectList(Model.Counties, "Value", "Text"), "Select County", htmlAttributes: new { @class = "form-control", @id = "County", @style = "width:200px;" })*@
                            <br />
                            <br />
                            <br />
                            <input type="button" value="Save" onclick="LoadPartialView('/Users/newtonacho/Documents/Folder1/Test.json', '/Users/newtonacho/Documents/Folder1/Test1.json')"/>
                        </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        @await Component.InvokeAsync("CompareResult", new { previousFile = "/Users/newtonacho/Documents/Folder1/Test.json", currentFile = "/Users/newtonacho/Documents/Folder1/Test1.json" })
    </div>

    <div class="footer"></div>
</div>
